<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar class="justify-content-center mt-2"
      ><a href="/" class="brand"
        ><img
          class="brand_logo"
          src="/img/logo-zerathen.png"
          alt="logo-tipo-NoteKeeper Zerathen"
          decoding="async"
          loading="eager" /></a
    ></mat-toolbar>
    <mat-nav-list>
      @for (item of itemsNavbar; track item.name) {
      <a mat-list-item [routerLink]="item.route">
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        <span class="navbar-text">{{ item.name }}</span>
      </a>
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
      <button type="button" aria-label="Toggle sidenav" matIconButton (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      }
      <span class="gradient-title">NoteKeeper Zerathen</span>
    </mat-toolbar>
    <div class="container-fluid py-3">
      <ng-component></ng-component>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
